.bta-design{
  color: black;
  background-color: white;
  border-radius: 15px;
}

.bta-button{
  width: 50px;
  height: 50px;
  color: white;
  background-color: #0f3460;
  border-radius: 50px;
}

.bta-bg{
  background-color: #83bbff;
  height: 450px;
}

.bta-imagebg{
  height: 450px;
}

.bta-bgsection{
  background: linear-gradient(to right, #2d5c94, #83bbff);
}

.bta-textb{
  color: white;
}

.bta-imagsize{
  height: 10px;
}

.bta-pago{
  height: 50px;
}

.bta-libro{
  height: 150px;
}

.bwta-photo-equip{
  width: 250px;
}

.bta-page-hero {
  background: linear-gradient(to right, #2d5c94, #83bbff);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.bta-hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.bta-page-hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.bta-page-hero p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto 30px;
  max-width: 700px;
}

.bta-accordion .accordion-button {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.bta-accordion .accordion-body {
  font-size: 16px;
  line-height: 1.6;
}

.bta-accordion .accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

}



.bta-team-section {
  background-color: #2d5c94;
}

.bta-team-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
}

.bta-photo-equipo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bta-team-card .card-body {
  padding: 25px;
}






.bta-product-section {
  background-color: #ffffff;
}

.bta-product-title {
  color: #2c3e50;
  font-size: 36px;
}

.bta-product-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.10);
}

.bta-product-image {
  height: 300px;
  object-fit: cover;
}

.bta-product-price {
  color: #83bbff;
  font-size: 22px;
}

.bta-btn-product {
  background-color: #83bbff;
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
}









.bta-reclamo-section {
  background-color: #83bbff;
}


.bta-reclamo-title {
  color: #0f3460;
  font-size: 38px;
  font-weight: 700;
}



.bta-reclamo-form {
  max-width: 1000px;
  margin: auto;
}



.bta-form-card {

  background-color: #ffffff;

  padding: 30px;

  margin-bottom: 25px;

  border-radius: 15px;

  border-left: 6px solid #2d5c94;

  box-shadow: 0 5px 15px rgba(0,0,0,0.12);

}



.bta-form-title {

  color:#0f3460;

  font-weight:700;

  margin-bottom:20px;

}



.bta-label {

  color:#2d5c94;

  font-weight:600;

  margin-bottom:8px;

}



.bta-input {

  border:2px solid #83bbff;

}



.bta-radio-box {

  background:#eef6ff;

  padding:15px;

  border-radius:10px;

}



.bta-btn-send {

  background-color:#0f3460;

  color:#ffffff;

  padding:14px 40px;

  font-weight:bold;

  border-radius:10px;

}